<div class="row margin-small">	 
	<div class="col-md-8 col-md-push-2">
		<div class="page-header c-align">
			<h1>Welcome To My Fitness</h1>
		</div>
	</div>
</div>

<div class="row margin-small">	 
	<%= image_tag("http://bestclipartblog.com/clipart-pics/fitness-clip-art-1.gif", class: "center-block homepage_image") %>
</div>
