<div class="row margin-small">	 
	<div class="col-md-4 col-md-push-4">
		<div class="page-header c-align">
			<h1>My Groups</h1>
		</div>
	</div>
</div>


<div class="row margin-small">	 
	<div class="col-md-4 col-md-push-4 c-align">
		<%= link_to 'Add a New Group', new_group_url %>
	</div>
</div>

<div class="row margin-small">	 
	<div class="col-md-4 col-md-push-4 c-align">
		<%= link_to 'Join An Existing Group', new_group_url %>
	</div>
</div>

<div class="row margin-small">	 
	<div class="col-md-4 col-md-push-4 c-align">
		<div class="page-header c-align"> My Groups </div>
	</div>
</div>


<div class="row margin-small">	 
	<div class="col-md-12 c-align">
		<% @groups.each do |group| %>
			<%= group.name %>
			<%= link_to 'Withdraw From Group', group_url(group), method: 'delete', data: { confirm: "Do you really want to withdraw from this group?" } %>
			<p>
		<% end %>
	</div>
</div>

