<div class="row margin-small">	 
	<div class="col-md-4 col-md-push-4">
		<div class="page-header c-align">
			<h1>Group Members</h1>
		</div>
	</div>
</div>

<div class="row margin-small">	 
	<div class="col-md-4 col-md-push-4">
		<%= @group.name %>
	</div>
</div>
