<div class="row margin-small">   
  <div class="col-md-4 col-md-push-4">
    <div class="page-header c-align">
      <h1>Challenges</h1>
      </div>
  </div>
</div>


<div class="row margin-small">   
  <div class="col-md-4 col-md-push-4 c-align">
      <%= link_to 'Add a New Challenge', new_challenge_url %></p>
  </div>
</div>

<div class="row margin-small">   
  <div class="col-md-4 col-md-push-4 c-align">
    <%= link_to 'Join An Existing Challenge', new_challenge_url%>
  </div>
</div>

<div class="row margin-small">   
  <div class="col-md-4 col-md-push-4 c-align">
    <div class="page-header c-align"> My Challenges </div>
  </div>
</div>


<div class="row margin-small">   
  <div class="col-md-12 c-align">
  <% @challenges.each do |challenge| %>
      <%= challenge.name %>
      <%= link_to 'Withdraw From Challenge', challenge_url(challenge), method: 'delete', data: { confirm: "Do you really want to withdraw from this challenge?" } %>
    <a href="challenge_url" > Withdraw from chall </a>

  <% end %>
  </div>
</div>

