<h1>Challenge #<%= @challenge.id %></h1>

<dl>
  <dt>Name</dt>
  <dd><%= @challenge.name %></dd>

  <dt>Data type</dt>
  <dd><%= @challenge.data_type_id %></dd>

  <dt>Value</dt>
  <dd><%= @challenge.value %></dd>

</dl>
